.rectangle {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url("../../../assets/images/HeaderBackground.svg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 26.25rem;
  margin-bottom: 4.12rem;
  overflow: hidden;
}

.header__squeare_text {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6.25rem;
  padding: 0.875rem 1.25rem;
  line-height: 1rem;
  font-family: Poppins;
  color: #141414;
  font-size: 1rem;
  font-weight: 500;
}

.header__title {
  color: rgba(255, 255, 255, 1);
  max-width: 780px;
  text-align: center;
  font-family: Inter;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: -0.05rem;
  margin: 0;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12.12rem;
}

.steps__one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 658px;
  min-height: 368px;
  height: auto;
  border-radius: 2rem;
  box-shadow: 0px 40px 40px 0px rgba(20, 20, 20, 0.04);
}

.text__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 70px 70px 70px 50px;
}

.content__number {
  color: #4842fb;
  font-family: Poppins;
  font-size: 8rem;
  line-height: 7rem;
  font-style: normal;
  font-weight: 600;
}

.container__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.container__text__title {
  color: #4842fb;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 2.75rem */
  letter-spacing: -0.05rem;
  text-align: start;
}

.subcontainer__text{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.container__text__paragraph {
  color: #444;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 0;
  text-align: start;
}

.container__text__paragraph b{
  font-weight: 600;
}
.container__text__anchor {
  color: #4842fb;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  text-align: start;
  line-height: 10px;
  text-decoration-line: underline;
}

.step__img__container__two{
  position: relative;
  width: 500px;
  height: 440px;
}

.macImg {
  position: absolute;
  left: -113px;
}

.steps__two {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1.81rem;
}

.stepTwo__container__color {
  background-color: #4842fb;
}

.stepTwo__number__color {
  color: #d3ff3c;
}

.stepTwo__title__color {
  color: #d3ff3c;
}

.stepTwo__paragraph__color {
  color: #fff;
}

.stepTwo__anchor__color {
  color: #d3ff3c;
}

.user{
  padding: 0 40px;
}

.user__container {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
}

.user__content {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 2rem;
  padding: 3.75rem;
  width: 100%;
}

.text__section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFF;
  justify-content: space-between;
  padding: 60px;
  border-radius: 32px;
  max-width: 696px;
}

.text__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.text__subcontent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.text__title{
  color: #141414;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
  letter-spacing: -0.8px;
}

.text__paragraph{
  color: #444;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.beDealer{
  padding: 18px 24px;
  border-radius: 20px;
  border: none;
  background-color: #4842FB;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px;
}

.video__container {
  display: flex;
  align-items: center;
  max-width: 412px;
  max-height: 637px;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 28px;  object-fit: cover;
}

@media (max-width: 500px) {
  .header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10rem;
    height: 19.62525rem;
    overflow: hidden;
    gap: 0.81rem;
  }
  .header__squeare_text {
    padding: 0.75rem 1rem;
  }

  .header__title {
    font-size: 2.125rem;
    line-height: 2.125rem;
    width: 100%;
  }

  .steps {
    gap: 50px;
    padding: 0px;
  }
  .steps__one,
  .steps__two {
    gap: 0rem;
    margin: 0 1rem;
  }
  .steps__one img,
  .steps__two img {
    display: none;
  }
  .step__img__container__two{
    display: none;
  }
  .content__text {
    padding: 3px 32px;
  }

  .content__number {
    font-size: 4rem;
    line-height: 3rem;
    margin: 0;
    padding: 0;
  }

  .text__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 0;

  }

  .container__text {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .container__text__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -0.05rem;
  }

  .subcontainer__text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .step__three__mobile__title {
    font-size: 27px;
  }

  .container__text__paragraph {
    font-size: 15px;
    line-height: 1.40625rem;
    margin: 0;
  }

  .container__text__anchor {
    font-size: 15px;

  }

  .user{
    padding: 0 20px;
  }

  .user__container {
    flex-direction: column;
    margin-top: 83px;
    gap: 32px;
  }

  .video__title {
    color: #141414;
    text-align: center;
    font-family: Inter;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3375rem;
    letter-spacing: -0.05rem;
    margin-bottom: 2rem;
    margin: 0 16px;
  }

  .video {
    width: -webkit-fill-available;
  }
  .beDealer {
  max-width: 12.75rem;
  margin: 0 auto;
  }
}