.heroImg {
  background-image: url("/src/assets/images/HeroImg.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 750px;
  width: 100%;
}

.heroContent {
  max-width: 1232px;
  width: 100%;
}


.text {
  width: 62%;
  padding-top: 9.1rem;
  font-family: Inter;
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 700;
  position: relative;
  color: white;
  z-index: 0;
}

.beDealerButton {
  background-color: #d3ff3c;
  margin-top: 1.9rem;
  padding: 18px 34px;
  border-radius: 20px;
  border: none;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  font-style: normal;

}

.backLetters{
  background-color: rgba(72, 66, 251, 1);
  height: 4.625rem;
  left: -0.9rem;
  position: absolute;
  z-index: -1;
}

.backTop{
  margin-top: 0.3rem;
  width: 46.0625rem;
  transform: rotate(0.714deg);
}

.backBottom{
  margin-top: 0.2rem;
  width: 26.61rem;
  transform: rotate(-1.446deg);
}