.heroImg {
  background-image: url("/src/assets/images/HeroImg.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 750px;
  width: 100%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1232px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.text__container {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  position: relative;
  font-family: Inter;
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 700;
  position: relative;
  color: white;
  z-index: 0;
}

.beDealerButton {
  background-color: #d3ff3c;
  padding: 1.125rem 1.5rem;
  border-radius: 20px;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 140%;
  font-style: normal;
}

.backLetters {
  background-color: rgba(72, 66, 251, 1);
  height: 4.625rem;
  left: -0.9rem;
  position: absolute;
  z-index: -1;
}

.backTop {
  width: 107%;
  margin-top: 0.3rem;
  transform: rotate(0.714deg);
}

.backBottom {
  width: 105%;
  margin-top: 0.2rem;
  transform: rotate(-1.446deg);
}

@media (max-width: 393px) {
  .heroImg {
    background-image: url("/src/assets/images/HeroMobileBackground.svg");
  }

  .heroContent {
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    gap: 2.25rem;
  }
  .text {
    font-size: 2.375rem;
    line-height: 2.85rem;
    letter-spacing: -0.05656rem;
  }

  .backLetters {
    height: 2.75rem;
    left: -0.5rem;
  }

  .backTop {
    width: 107%;
    transform: rotate(1.166deg);
  }
  .backMiddle {
    width: 106%;
    margin-top: 0.2rem;
    transform: rotate(-1.521deg);
  }
  .backBottom {
    margin-top: 0.25rem;
    width: 115%;
    transform: rotate(1.166deg);
  }

  .beDealerButton{
    font-size: 0.9375rem;
  }

}
