.rectangle {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 44px 80px 44px;
  gap: 0.5rem;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.header__squeare_text {
  background-color: rgba(20, 20, 20, 1);
  border-radius: 6.25rem;
  padding: 0.875rem 1.25rem;
  line-height: 1rem;
  font-family: Poppins;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
}

.header__title {
  color: #141414;
  font-family: Inter;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.28px;
  margin-top: 0.81rem;
  margin-bottom: 16px;
}

.header__paragraph{
  color: #444;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1px;
  margin: 0;
}

.content__img {
  display: flex;
  align-items: center;
  max-height: 637px;
  max-width: 50%;
}

.content__img img{
  width: 100%;
  height: 100%;
  border-radius: 28px;  
  object-fit: cover;
}

.beDealerButton {
  background: #4842FB;
  margin-top: 60px;
  padding: 18px 24px;
  border-radius: 20px;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  color: #FFF;
  font-style: normal;
}

@media (max-width: 1120px) {
  .content{
    max-height: 593px;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .rectangle{
    padding: 80px 0;
  }

  .content{
    max-height: 498px;
    height: 100%;
    padding: 0 20px;
  }

  .content__img{
    width: 379px;
  }
}

@media (max-width: 500px) {
  .rectangle {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
  }
  .header__squeare_text {
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
  }
  
  .header__title {
    max-width: 22.5rem;
    text-align: center;
    font-size: 28px;
    line-height: 30.8px;
  }
  
  .header__paragraph{
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -1px;
  }

  .content__img {
    margin: 16px 16px 0 16px;
    max-width: 379px;
    max-height: 498px;
    width: unset;
    height: unset;
  }

  .content__img img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
  }

  .beDealerButton {
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 40px;
  }
}
