.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1e1d21;
}
.footer__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
  width: 100%;
  max-width: 1232px;
  padding-top: 6.25rem;
  padding-bottom: 2.25rem;
  padding-left: 16px;
  padding-right: 16px;
}

.footer__section__first , .footer__section__three{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.beDealer {
  background-color: #fff;
  padding: 0.875rem 1.75rem;
  border-radius: 20px;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.03125rem;
  font-style: normal;
  color: black;
}

.a {
  max-width: 12.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.logo {
  width: 100%;
}

.icons__social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.icons__social img {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #fff;
}

.b {
  max-width: 14.37rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.b p {
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.575rem
}

.footer__section__second {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
}

.web__button{
  padding: 1.125rem 2.125rem;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.2375rem;
  font-weight: 500;
  color: #FFF;
}

.information__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.information{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.information img{
  max-width: 1.5rem;
}
.information p{
color: var(--Base-Base-White, #FDFDFD);
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.575rem;
text-align: left;
}

.googleIcon{
  max-width: 7.75rem;
}

.copyright__text, .legal__links p{
  color: var(--Base-Base-White, #FDFDFD);
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.575rem;
  text-align: right;
}
.legal__links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

@media (max-width: 1200px) {
  .footer__content{
  max-width: 100%;
  width: 100%;
  }
}

@media (max-width: 1068px) {
  .information p{
  font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .footer__content{
    padding-left: 0;
    padding-right: 0;
  }

  .footer__section__first{
    flex-direction: column;
    gap: 60px;
    width: auto;
    padding: 0 16px;
  }
  .first__section__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .b p{
    font-size: 18px;
    line-height: 1.3125rem;
    margin: 0;
    padding: 0;
  }
  
  .information__container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.75rem;
  }

  .information p{
    font-size: 18px;
    line-height: 1.3125rem;
    margin: 0;
    padding: 0;
  }
  
  .footer__section__second {
    width: auto;
    padding: 0 16px;
  }
  .footer__section__three{
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 2.5rem;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
  }

  .web__button{
    font-size: 18px;
    line-height: 19.8px;
    font-weight: 600;
  }
  
  .legal__links{
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  .legal__links p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .footer__content{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__section__first{
    flex-direction: column;
    gap: 2.5rem;
    width: auto;
    padding: 0 16px;
  }
  .first__section__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .b p{
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    margin: 0;
    padding: 0;
  }
  
  .information__container{
    flex-direction: column;
    gap: 0.75rem;
  }

  .information p{
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    margin: 0;
    padding: 0;
  }
  
  .footer__section__second {
    width: auto;
    padding: 0 16px;
  }
  .footer__section__three{
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 2.5rem;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  
  .legal__links{
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  .legal__links p {
    margin: 0;
    padding: 0;
    font-size: 0.9375rem;
    text-align: center;
  }
}